<% if(alert.message != "") { %>
<div class="alert alert-<%= alert.status %>" role="alert" id="alert-message">
  <%= alert.message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
